<p>
  navigation works!
</p>

<div>
  <ul>
    <li *ngFor="let cinemaNavigation of navigation | async">
      <span (click)="getCinemaChildrenNavigation(cinemaNavigation)">{{cinemaNavigation.item.name}}</span>
      <ul *ngIf="(cinemaNavigation.children | async)?.length > 0">
        <li *ngFor="let hallNavigation of cinemaNavigation.children | async">
          <span (click)="getHallChildrenNavigation(hallNavigation, cinemaNavigation.item.id)">{{hallNavigation.item.name}}</span>
          <ul *ngIf="(hallNavigation.children | async)?.length > 0">
            <li *ngFor="let movieNavigation of hallNavigation.children | async">
              <span (click)="navigate(cinemaNavigation.item.id, hallNavigation.item.id, movieNavigation.item.id)">{{movieNavigation.item.name}}</span>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
